.modalContainer {
  padding: 21px 12px 12px;
  width: 100%;

  position: fixed;
  left: 0px;
  bottom: 0px;
  z-index: 3;
  transform: translateY(100%);

  text-align: center;

  background-color: var(--blue-color);

  transition: transform 150ms linear;

  span {
    user-select: none;

    color: white;
    font-variant: small-caps;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    line-height: 0px;
    word-break: break-word;
  }

  button {
    padding: 4px;

    position: absolute;
    top: 2px;
    right: 6px;

    transition: transform 100ms linear;

    svg {
      width: 20px;
      height: 20px;
      fill: white;
    }

    &:active {
      transform: scale(0.85);
    }
  }
}

.modalErrorColor {
  background-color: rgb(251, 43, 57);
}

.modalAlertColor {
  background-color: rgb(220, 183, 1);
}

.modalActiver {
  transform: translateY(0px);
}
