* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue-color: rgb(82, 94, 226);
  --blue-color-with-small-opacity: rgba(82, 94, 226, 0.2);
  --light-blue-color: rgb(105, 132, 230);
  --pink-color: rgb(224, 77, 180);
  --content-color: white;
  --content-color-with-high-opacity: rgba(255, 255, 255, 0.95);
  --contrast-to-content-color: black;
  --backdrop-color: rgba(0, 0, 0, 0.60);
  --box-shadow-color: rgba(48, 47, 48, 0.6);
}

body {
  background-color: var(--content-color);

  color: var(--blue-color);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
}

button {
  border: none;
  background-color: transparent;
  color: var(--blue-color);

  cursor: pointer;

  @media (pointer: coarse) {
    & {
      outline: none;
    }
  }
}

a {
  color: var(--blue-color);
  text-decoration: none;
}

h1, h2, p, span {
  word-wrap: break-word;
}

.introduction-wrapper {
  padding: 18px 14px 60px;
  background-color: var(--blue-color);
  color: var(--content-color);

  h2 {
    font-size: 30px;
  }
}

.modal-container {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;

  transform: translateY(calc(100vh + 100px));

  background-color: var(--content-color);

  visibility: hidden;

  overflow: auto;

  transition: transform 300ms ease, visibility 0ms 300ms;
}

@media (pointer: fine) {
  .first-modal-element:focus {
    background-color: var(--blue-color-with-small-opacity);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 6px;
  border-bottom: 1px solid var(--blue-color);

  background-color: var(--content-color);

  button {
    box-sizing: content-box;
    padding: 6px;
    width: 24px;
    height: 24px;

    border-radius: 50%;

    transition: background-color 150ms linear;

    &:active {
      background-color: var(--blue-color-with-small-opacity);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: var(--blue-color);
  }

  @media screen and (max-width: 490px) {
    h2 {
      font-size: 22px;
    }
  }

  @media screen and (max-width: 370px) {
    h2 {
      font-size: 21px;
    }
  }
}

.sticky-header {
  width: 100%;

  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 2;

  background-color: var(--content-color);
}

.modal-form {
  margin: 0px auto;
  padding: 0px 18px 10px;
  max-width: 750px;

  & > button {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 16px auto 0px;
  }
}

.action-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  margin-top: 20px;

  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  padding: 0px 10px;
  width: 100%;
  max-width: 600px;

  button {
    width: 100%;
  }

  @media screen and (max-height: 530px) {
    position: static;
    bottom: initial;
    left: initial;
    transform: none;
  }
}

.button-with-white-background-transition-active {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 2px;

  border-radius: 50%;

  transition: background-color 150ms linear;

  &:active {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

/* Material UI library styles override */

.MuiFormLabel-root.MuiFormLabel-root {
  color: var(--blue-color);
}

.MuiInput-underline.MuiInput-underline:before,
.MuiInput-underline.MuiInput-underline:after {
  content: none;
}

.MuiInput-input.MuiInput-input {
  color: var(--blue-color);
}

.MuiButton-contained.MuiButton-contained.MuiButton-contained {
  box-shadow:
  0px 3px 1px -2px rgba(0,0,0,0.2),
  0px 2px 2px 0px rgba(0,0,0,0.14),
  0px 1px 5px 0px rgba(0,0,0,0.12);
}

.MuiIconButton-root.MuiIconButton-root {
  padding: 7px;
}

.MuiInputBase-root {
  border-bottom: 2px solid var(--blue-color);

  svg {
    width: 20px;
    height: 20px;
    fill: var(--blue-color);
  }
}

.MuiInputLabel-root:not(.Mui-focused, .MuiInputLabel-shrink) {
  transform: translateY(19px) scale(1);
}

.MuiInput-underline.MuiInput-underline:after {
  border-bottom: 2px solid var(--blue-color);
}

.MuiButton-containedPrimary.MuiButton-containedPrimary:hover {
  background-color: #525ee2;
}

/* JavaScript style classes */

.reduce-padding {
  padding-bottom: 25px;
}

.modal-activer {
  transform: translateY(0px);

  visibility: visible;

  transition-delay: 0ms;
}

.overflow-hidden {
  overflow: hidden;
}

.fit-content-height {
  height: fit-content;
}

@media (pointer: coarse) {
  *, button {
    cursor: default;
  }
}
