* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue-color: rgb(90, 99, 204);
  --light-blue-color: rgba(90, 99, 204, 0.2);
  --pink-color: rgb(224, 77, 180);
  --content-color: white;
  --content-color-with-high-opacity: rgba(255, 255, 255, 0.95);
  --backdrop-color: rgba(0, 0, 0, 0.60);
  --box-shadow-color: rgba(48, 47, 48, 0.6);
}

body {
  background-color: var(--content-color);

  color: var(--blue-color);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  background-color: transparent;
  color: var(--blue-color);
  cursor: pointer;

  @media (pointer: coarse) {
    & {
      outline: none;
    }
  }
}

a {
  color: var(--blue-color);
}

.introduction-wrapper {
  padding: 0px 0px 60px 20px;
  background-color: var(--blue-color);
  color: var(--content-color);

  h2 {
    font-size: 30px;
  }
}

.text-and-symbol-aligner {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.generic-button {
  border: 2px solid var(--blue-color);
  padding: 4px 7px;

  border-radius: 4px;

  font-variant: small-caps;
  font-size: 14px;
  font-weight: 600;

  user-select: none;

  transition: background-color 100ms linear, transform 100ms linear;

  &:hover {
    background-color: var(--blue-color);
    color: var(--content-color);
  }

  &:active {
    background-color: var(--blue-color);
    color: var(--content-color);

    transform: scale(0.94);
  }
}

.createMeetupWrapper {
  display: block;
  margin: 20vh auto 0px auto;
  width: 160px;

  color: var(--blue-color);

  text-decoration: none;

  user-select: none;

  transition: transform 100ms ease;

  div {
    margin-bottom: 10px;
    border: 3px solid currentColor;
    padding: 40px 60px;

    border-radius: 6px;
  }

  svg {
    width: 40px;
    height: 40px;
    fill: currentColor;
  }

  p {
    color: currentColor;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
  }

  &:active {
    transform: scale(0.94)
  }
}

.modal-container {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 100%;
  left: 0px;
  z-index: 2;

  background-color: var(--content-color);

  overflow: auto;

  transition: transform 300ms ease;

  .action-buttons-wrapper {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-height: 524px) {
      position: static;
      bottom: initial;
      left: initial;
      transform: none;
    }
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 10px;
  border-bottom: 1px solid gray;

  position: sticky;
  top: 0px;
  z-index: 1;

  background-color: var(--content-color);

  button {
    box-sizing: content-box;
    padding: 4px;
    width: 22px;
    height: 22px;

    border-radius: 50%;

    transition: background-color 64ms linear;

    &:active {
      background-color: var(--light-blue-color)
    }
  }

  svg {
    width: 22px;
    height: 22px;
    fill: var(--blue-color);
  }
}

.modal-form {
  margin: 0px auto;
  padding: 0px 10px 10px;
  max-width: 600px;

  & > button {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 16px auto 0px;
  }
}

.action-buttons-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  padding: 0px 10px;
  width: 100%;

  button:first-child {
    border-color: rgb(251, 43, 57);
    color: rgb(251, 43, 57);

    &:hover {
      background-color: rgb(251, 43, 57);
      color: var(--content-color)
    }
  }

  button {
    width: 100%;
  }
}

/* JavaScript style classes */

.reduce-padding {
  padding-bottom: 25px;
}

.modal-activer {
  transform: translateY(-100%);
}

.overflow-hidden {
  overflow: hidden;
}

.fit-content-height {
  height: fit-content;
}

@media (pointer: coarse) {
  *, button {
    cursor: default;
  }
}