* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue-color: rgb(90, 99, 204);
  --dark-blue-color: rgb(42, 57, 212);
  --light-blue-color: rgba(90, 99, 204, 0.2);
  --pink-color: rgb(224, 77, 180);
  --content-color: white;
  --content-color-with-high-opacity: rgba(255, 255, 255, 0.95);
  --content-color-with-small-opacity: rgba(255, 255, 255, 0.60);
  --backdrop-color: rgba(0, 0, 0, 0.60);
  --box-shadow-color: rgba(48, 47, 48, 0.8);
}

body {
  background-color: var(--blue-color);

  color: var(--content-color);
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 20px 4.5vw 65px 4.5vw;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (pointer: coarse) {
    & {
      outline: none;
    }
  }
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.text-and-symbol-aligner {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}

.generic-button {
  border: 2px solid var(--blue-color);
  padding: 4px 7px;

  border-radius: 4px;

  color: var(--blue-color);
  font-variant: small-caps;
  font-size: 14px;
  font-weight: 600;

  user-select: none;

  transition: background-color 100ms linear, transform 100ms linear;

  &:hover {
    background-color: var(--blue-color);
    color: var(--content-color);
  }

  &:active {
    background-color: var(--blue-color);
    color: var(--content-color);

    transform: scale(0.94);
  }
}

.modal-container {
  width: 100%;
  height: 100vh;

  position: fixed;
  top: 100%;
  left: 0px;
  z-index: 2;

  background-color: var(--content-color);

  overflow: auto;

  transition: transform 300ms ease;

  h2 {
    color: var(--blue-color);
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6px 10px;
  border-bottom: 1px solid gray;

  position: sticky;
  top: 0px;
  z-index: 1;

  background-color: var(--content-color);

  button {
    box-sizing: content-box;
    padding: 4px;
    width: 22px;
    height: 22px;

    border-radius: 50%;

    transition: background-color 64ms linear;

    &:active {
      background-color: var(--light-blue-color)
    }
  }

  svg {
    width: 22px;
    height: 22px;
    fill: var(--blue-color);
  }
}

.modal-form {
  margin: 0px auto;
  padding: 0px 10px 10px;
  max-width: 600px;

  & > button {
    display: block;
    width: 100%;
    max-width: 150px;
    margin: 16px auto 0px;
  }
}

/* JavaScript style classes */

.modal-activer {
  transform: translateY(-100%);
}

.overflow-hidden {
  overflow: hidden;
}

.fit-content-height {
  height: fit-content;
}

@media (pointer: coarse) {
  *, button {
    cursor: default;
  }
}