.backdropArea {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;

  background-color: var(--content-color);

  opacity: 0;
  visibility: hidden;

  pointer-events: none;

  border-radius: 6px;

  transition: opacity 100ms ease, visibility 0ms 100ms;
}

.loadingBarWrapper {
  width: 70px;
  border-radius: 4px;
  overflow: hidden;

  span {
    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--blue-color);

    border-radius: 4px;

    animation: move-from-left-to-right 600ms ease-in-out alternate infinite;
  }
}

.showLoadingScreen {
  opacity: 1;
  visibility: visible;

  pointer-events: initial;

  transition-delay: 0ms;
}

@keyframes move-from-left-to-right {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
