.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 16px 22px;

  background-color: var(--blue-color);
  color: var(--content-color);

  p {
    font-size: 24px;
    font-weight: 600;
  }

  a {
    padding: 6px 0px;

    position: relative;

    color: var(--content-color);
    text-decoration: none;
    font-size: 17px;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 1px;
    
    user-select: none;

    transition: color 100ms linear;
  }

  a + a {
    margin-left: 14px;
  }

  a:first-child {
    gap: 6px;
  }

  a::after {
    content: '';

    display: block;
    height: 2px;
    width: 0px;

    background-color: var(--content-color);

    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -3px);
    
    transition: width 100ms linear;
  }

  a:hover, a:active {
    &::after {width: 100%}
  }

  svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

a.underlinedAnchor::after {
  width: 100%;
}