.iconsWrapper {
  button {
    position: relative;

    &::after {   // Tooltip's Styles
      display: block;
      border: 1px solid var(--blue-color);
      padding: 4px;

      position: absolute;
      top: 100%;

      background: var(--content-color-with-high-opacity);

      border-radius: 4px;

      opacity: 0;

      font-size: 14px;
      color: var(--blue-color);

      white-space: nowrap;

      pointer-events: none;

      transition: opacity 100ms linear;
    }

    &:active::after {
      opacity: 1;
      transition-delay: 350ms;
    }

    @media (pointer: fine) {
      &:hover::after {
        opacity: 1;
        transition-delay: 350ms;
      }
    }
  }

  button + button {
    margin-left: 8px;
  }

  button:nth-child(1)::after {
    content: 'excluir';
    left: 50%;
    transform: translate(-50%, 4px);
  }

  button:nth-child(2)::after {
    content: 'favoritar';
    left: 50%;
    transform: translate(-50%, 4px);
  }

  button:nth-child(3)::after {
    content: 'editar';
    right: 0%;
    transform: translateY(4px);
  }
}

.contentAndFormWrapper > * {
  display: none;
}

.contentContainer {
  margin: 10px auto;
  padding: 0px 10px;
  max-width: 700px;

  color: var(--blue-color);

  img {
    display: block;
    margin: 20px auto 14px;
    max-width: 100%;
    height: auto;

    border-radius: 4px;
  }

  h2 {
    margin-bottom: 15px;
    text-align: center;
  }

  & > p {
    margin-bottom: 20px;
    font-size: 18px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: baseline;
    justify-items: center;
    gap: 6px;

    border-top: 1px solid var(--blue-color);
    padding-top: 8px;
  }

  li {
    display: flex;
    gap: 6px;

    list-style: none;
  
    svg {
      flex-shrink: 0;

      width: 20px;
      height: 20px;

      fill: var(--blue-color);
    }
    
    p {
      flex-shrink: 0;
      word-break: break-word;
      font-size: 15px;
    }
  }

  li + li {
    margin-top: 6px;
  }
}

.showContainer {
  display: block;
  animation: show-element 300ms linear forwards;
}

@keyframes show-element {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
